<h1>{{ list_name }}</h1>

<form action="{% url 'todolist_newitem' list_id %}" method="post">
    {% csrf_token %}
    <input type="text" name="new_item" required>
    <input type="submit" value="add_item">
</form>

{% if todo_items %}
<form action="{% url 'todolist_mark_items' list_id %}" method="post">
    {% csrf_token %}
    {% for item in todo_items %}
        
        (update)<input type="checkbox" id="{{item}}" name="{{item.id}}" value="mark_done">
        <label for="{{item}}">
            {% if item.mark_done %}
            <del>{{item.item_name}}</del>
            {% else %}
            {{item.item_name}}
            {% endif %}
        </label>
        <input type="checkbox" id="{{item}}" name="{{item.id}}" value="delete">(delete)<br>
    {% endfor %}
    <input type="submit" value="update_items">
</form>
{% else %}
    <p>No items available for this list.</p>
{% endif %}